<div *ngIf="isDialog; else nonDialogLayout">
  <h1 mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content>
    <ng-container *ngTemplateOutlet="baseFormLayout"></ng-container>
  </div>
  <span mat-dialog-actions>
    <ng-container *ngTemplateOutlet="dialogActions"></ng-container>
  </span>
</div>

<ng-template #nonDialogLayout>
  <h1>{{ title }}</h1>
  <mat-divider></mat-divider>
  <div class="base-form-layout">
    <ng-container *ngTemplateOutlet="baseFormLayout"></ng-container>
  </div>
  <ng-container *ngTemplateOutlet="nonDialogActions"></ng-container>
</ng-template>

<!-- Basic flight form -->
<ng-template #baseFormLayout>
  <form class="create_flight_form" [formGroup]="flightForm">
    <mat-form-field appearance="fill">
      <mat-label>origin:</mat-label>
      <input
        matInput
        formControlName="origin"
        aria-label="Origin"
        placeholder="Ex. Israel"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>destination:</mat-label>
      <input
        matInput
        formControlName="destination"
        aria-label="destination"
        placeholder="Ex. NewYork"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>flightNumber#:</mat-label>
      <input
        type="number"
        matInput
        formControlName="flightNumber"
        aria-label="flightNumber"
        placeholder="Ex. 1536"
      />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>depart -> arrive</mat-label>
      <mat-date-range-input
        [formGroup]="flightForm"
        [rangePicker]="dateRangePicker"
        [comparisonStart]="flightForm.value.departDate"
        [comparisonEnd]="flightForm.value.arriveDate"
      >
        <input matStartDate placeholder="Depart date" formControlName="depart" />
        <input matEndDate placeholder="Arrive date" formControlName="arrive" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
    </mat-form-field>

    <div class="nonstop_box">
      <mat-label>nonstop:</mat-label>
      <mat-slide-toggle formControlName="isNonstop"></mat-slide-toggle>
    </div>
  </form>
</ng-template>

<ng-template #nonDialogActions>
  <span class="non-dialog-actions">
    <button
      mat-raised-button
      color="primary"
      (click)="publishFlight()"
      [disabled]="!formIsValid"
    >
      Create
    </button>
    <button mat-raised-button (click)="onClear()">Clear</button>
  </span>
</ng-template>

<ng-template #dialogActions>
  <button mat-button (click)="closeForm()">No Thanks</button>
  <button
    mat-button
    (click)="publishFlight()"
    mat-dialog-close
    [disabled]="!formIsValid"
    cdkFocusInitial
  >
    Ok
  </button>
</ng-template>
