<div class="mat-elevation-z8">
  <app-flight-create-form></app-flight-create-form>

  <div class="filter-container">
  <form class="filter-form">
    <mat-form-field appearance="fill">
      <mat-label>Search flight from</mat-label>
      <input matInput placeholder="Ex. Israel" #originSearchInput />
    </mat-form-field>
    <mat-icon>arrow_forward</mat-icon>
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <input matInput placeholder="Ex. NewYork" #destinationSearchInput />
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="searchFlights()">Search</button>
  </form>
</div>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table
    class="full-width-table"
    [dataSource]="dataSource"
    matSort
    matSortActive="flightNumber"
    matSortDirection="asc"
    aria-label="Elements"
  >
    <!-- FlightNumber Column -->
    <ng-container matColumnDef="flightNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>flightNumber#</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.flightNumber }} </mat-cell>
    </ng-container>

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Origin</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <form
          class="row-form"
          *ngIf="isEditActive && editRowId === row.id; else notEditableContent"
        >
          <mat-form-field class="editable-input" appearance="fill">
            <input matInput value="{{ row.origin }}" maxlength="25" #originRowInput />
          </mat-form-field>
        </form>
        <ng-template #notEditableContent>{{ row.origin }}</ng-template>
      </mat-cell>
    </ng-container>

    <!-- Destination Column -->
    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef mat-sort-header>destination</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <form
          class="row-form"
          *ngIf="isEditActive && editRowId === row.id; else notEditableContent"
        >
          <mat-form-field class="editable-input" appearance="fill">
            <input matInput value="{{ row.destination }}" #destinationRowInput />
          </mat-form-field>
        </form>
        <ng-template #notEditableContent>{{ row.destination }}</ng-template>
      </mat-cell>
    </ng-container>

    <!-- Depart Column -->
    <ng-container matColumnDef="depart">
      <mat-header-cell *matHeaderCellDef mat-sort-header>depart</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <form
          class="row-form"
          *ngIf="isEditActive && editRowId === row.id; else notEditableContent"
        >
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker1" [formControl]="departEditDate" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </form>
        <ng-template #notEditableContent>{{ row.depart | date: 'd/M/yy' }}</ng-template>
      </mat-cell>
    </ng-container>

    <!-- Arrive Column -->
    <ng-container matColumnDef="arrive">
      <mat-header-cell *matHeaderCellDef mat-sort-header>arrive</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <form
          class="row-form"
          *ngIf="isEditActive && editRowId === row.id; else notEditableContent"
        >
          <mat-form-field class="dataPicker" appearance="fill">
            <input matInput [matDatepicker]="picker1" [formControl]="arriveEditDate" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </form>
        <ng-template #notEditableContent>{{ row.arrive | date: 'd/M/yy' }}</ng-template>
      </mat-cell>
    </ng-container>

    <!-- IsNonstop Column -->
    <ng-container matColumnDef="isNonstop">
      <mat-header-cell *matHeaderCellDef mat-sort-header>isNonstop</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon>{{ row.isNonstop ? 'done' : 'close' }}</mat-icon>
      </mat-cell>
    </ng-container>
    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openDialog(row)" color="accent">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="deleteRow(row)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    [length]="flights?.length"
    [pageIndex]="0"
    [pageSize]="3"
    [pageSizeOptions]="[1, 3, 5]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
