.full-width-table {
  width: 100%;

  .row-form {
    .editable-input {
      color: blue;
    }
  }
  // TODO: fix date wrap
  .dataPicker {
    color: blue;
    flex-wrap: wrap;
  }
}

.create-flight-form {
  font-size: 1.1em;
  color: #cccccc;
  margin: 10px auto;
  background-color: #424242;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
}

.filter-container {
  font-size: 1.1em;
  color: #cccccc;
  margin: 10px auto 0;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  width: fit-content;
  padding: 15px 10px 0;

  border: 1px solid grey;
  box-shadow: 2px 2px 2px;
  border-radius: 15px 15px 0 0;

  .filter-form {
    display: flex;
    justify-content: center;
    align-items: baseline;

    button {
      margin-left: 5px;
    }
  }
}
